<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<title><%= yield :title %></title>
</head>
<body class="grey-background">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
		<%if user_signed_in? %>
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Brand" src="">
				</a>
				<ul class="nav navbar-nav">
					<li>
						<%= link_to root_path, class: "glyphicon glyphicon-home" do %>
						Home
						<% end %>
					</li>
					<li>
						<%= link_to user_path(current_user), class: "glyphicon glyphicon-user" do %>
						ViewProfile
						<% end %>
					</li>
					<li>
						<%= link_to mygroup_path(current_user), class: "glyphicon glyphicon-tree-deciduous" do %>
						MyGroups
						<% end %>
					</li>					
					<li>
						<%= link_to new_group_path, class: "glyphicon glyphicon-plus-sign" do %>
						CreateGroup
						<% end %>
					</li>					
					<li>
						<%= link_to groups_path, class: "glyphicon glyphicon-globe" do %>
						Explore
						<% end %>
					</li>

				</ul>
			</div>
			 <p class="navbar-text navbar-right"><%=link_to 'Logout', destroy_user_session_path, method: :delete %> &nbsp; </p>
			 <% end %>
		</div>
	</nav>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
</body>
</html>
